.main__RoomsList {
    display: flex;
    flex-direction: column;
    border: 0.1px solid #e0e0e0;
    /* justify-content: center; */
    width: 25%;
}

.main__RoomsList .room_search {
    /* background-color: aqua; */
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 10px 10px 10px;
    width: 100%;
}

.main__RoomsList .room_search .Room-search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__RoomsList .room_search .Room-search-bar input {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    padding: 8px 30px;
    margin-right: 10px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    background-color: #f9f9f9;
}

.main__RoomsList .room_search .Room-search-bar input:focus-within {
    border-color: #0584fe;
    box-shadow:
        0 0 5px #0584fe,
        0 0 1px #0584fe;
    color: rgb(16, 16, 27);
    outline: 0;
}

.conversation-room {
    width: 100%;
    overflow-y: auto;
}

.conversation-room .conversation-room-item {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 95px;
    border-bottom: 1px solid #e0e0e0;
}

.conversation-room .conversation-room-item:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}
.conversation-room .conversation-room-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid;
}

.conversation-room .conversation-room-item div {
    flex: 1;
}

.conversation-room .conversation-room-item p:first-child {
    font-family: Maven Pro;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 22.1px */
    letter-spacing: 0.17px;
}

.conversation-room .conversation-room-item p:last-child {
    color: #777;
    font-size: 12px;
}

.create_room {
    /* background-color: aqua; */
    border-radius: 50%;
    bottom: 10px;
    position: fixed;
    right: 77%;
}

/* .main__RoomsList .create_room .addplus{

  border-radius: 50%;
  bottom: 10px;
  position: fixed;
  right: 77%;
} */

.room-types {
    display: flex;
    justify-content: space-between;
}

.room-type {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.room-type:hover {
    background-color: #f0f0f0;
}
