#chat-message-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    max-height: 100%;
  }

  .message-item {
    clear: both;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .my-message {
    align-self: flex-end;
    background-color: #0584FE;
    color: #fff;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 12px 12px 0px 12px;
    word-wrap: break-word;
    width: fit-content;
    max-width: 60%;
    float: right;
    font-family: Acme;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .other-message {
    float: left;
    align-self: flex-start;
    background-color: #dad6d6;
    color: #000;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 12px 12px 12px 0px;
    word-wrap: break-word;
    width: fit-content;
    max-width: 60%; 
    font-family: Acme;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }