@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

.main__chatlist {
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
  border: .1px solid #E0E0E0;
  /* align-items: start;
  justify-content: center; */
   width: 30%;

}


.main__chatlist .chatlist_search {
  /* width: 350px; */
  height: 110px;
  border-bottom: 1px solid #E0E0E0;
  /* width: clamp(60px, 100%, 350px); */
  /* margin-bottom: 10px; */
  width: 100%;

  
}

.main__chatlist .chatlist_search .search-bar { 
  /* width: clamp(60px, 100%, 350px); */
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 0px 0px;
}

.main__chatlist .chatlist_search .search-bar .icon {

  height: 17px;
  width: 17px;
  color: #777;
  position:fixed ;
  left: 22px;
  margin-top: 16px;
  transform: translateY(-50%);
}

.main__chatlist .chatlist_search .search-bar input {
  /* width: clamp(60px, 90%, 100%); */
  width: 90%;

  height: 29px;
  border: 1px solid #E0E0E0;
  border-radius: 30px;
  padding: 8px 30px;
  margin-right: 10px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  background-color: #F9F9F9;
}

.main__chatlist .chatlist_search .search-bar input:focus-within {
  border-color: #0584FE;
  box-shadow : 0 0 5px #0584FE ,0 0 1px #0584FE;
  color: rgb(16, 16, 27);
  outline: 0;
}

.main__chatlist .chatlist_search .image-list-container {
  overflow: auto; 
  white-space: nowrap;
  padding: 15px 0px 0px 10px;
  width: 97%;
}
::-webkit-scrollbar{
  height: 4px;
  width: 1px;
  background: transparent;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #a09c9c;
  border-radius: 10px;
}
.circular-image { 
 display: inline-block;
  margin-left: 3px; 
  margin-right: 15px; 
  width: 46px;
  height: 46px;
}

.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  border: black solid 2px;
}
/* .conversation::-webkit-scrollbar {
  width: 0px;
} */

.main__chatlist .conversation {
  /* min-height: 580px;
  max-height: 520px; */
  /* height: 100%; */
  /* background-color: #777; */
  /* height: 500x; */
  overflow: scroll; 
}


.conversation .conversation-item {
  display: flex;
  align-items: center;
  gap: 20px; 
  height: 95px;
  border-bottom: 1px solid #E0E0E0;
}

.conversation .conversation-item:hover{
  background-color: #E0E0E0;
  cursor: pointer;
}
/* .conversation .conversation-item:visited {
  background-color: #b42222;
} */

.conversation .conversation-item img {
  width: 60px; 
  height: 60px; 
  border-radius: 50%; 
  border: black solid 2px;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.conversation .conversation-item div {
  flex: 1; 
}


.conversation .conversation-item p:first-child {

  font-family: Maven Pro;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 130%;
letter-spacing: 0.17px;
}

.conversation .conversation-item p:last-child {
  color: #777; 
  font-size: 12px; 
}

.conversation-item.selected {
  background-color: #f0f0f0; /* or any other styling you prefer */
}