@import '../../constants/variables';

.register-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;

    .form-label-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3rem;
        .form-label {
            color: #fff;
            text-shadow:
                0rem 0rem 0rem #f4ebff,
                0rem 0.0625rem 0.125rem rgba(16, 24, 40, 0.05);
            font-family: $font-Acme;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;
        }
        .form-input {
            display: flex;
            padding: 1.125rem 3.5rem 1.125rem 0.625rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            border-radius: 0.75rem;
            border: 0.125rem solid #304194;
            background: #fff;
            color: #304194;
            width: 24.5625rem;
            font-family: $font-Acme;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem; /* 133.333% */
            -webkit-text-security: none;
            &::placeholder {
                opacity: initial;
                color: #5d5e63;
            }
            &[type='hide'] {
                -webkit-text-security: square;
            }
        }
        .pwd {
            position: relative;
            .p-viewer {
                z-index: 9999;
                position: absolute;
                top: 35%;
                right: 1rem;
            }

            .fa-eye {
                color: #304194;
            }
        }
    }
}

.form-btn {
    // leading-trim: both;
    // text-edge: cap;
    display: flex;
    margin: 1rem 0rem;
    padding: 0.6rem 9rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: none;
    border-radius: 3.4375rem;
    background: #304194;
    .button-text {
        color: #fff;
        text-align: center;
        font-family: $font-Bomb-Sound;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &:hover {
        background-color: #f20553;
    }
}

.form-label {
    color: #fff;
    text-align: center;
    font-family: $font-Acme;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    .form-link {
        color: #f20553;
        font-family: $font-Acme;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover {
            text-decoration: underline;
        }
    }
}
