@import '../../constants/variables';

body {
    margin: 0;
    padding: 0;
    background:
        url(#{$background-image}),
        lightgray 50% / cover no-repeat;
    backdrop-filter: blur(5px);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevent background image from overflowing */
}

.register {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.73rem;

    .register-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        .register-header-text {
            color: #ffec47;
            text-align: center;
            font-family: $font-Bomb-Sound;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.0675rem;
        }
    }
    .register-container {
        display: flex;
        padding: 2.25rem;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        border-radius: 1.5rem;
        background: rgba(113, 199, 216, 0.8);
        box-shadow: 0.625rem 1.25rem 0.5rem 0rem rgba(0, 0, 0, 0.2);

        .third-party-btns {
            display: flex;
            align-items: flex-start;
            gap: 1.5rem;

            .default {
                display: flex;
                // width: 10.75rem;
                border: none;
                padding: 0.75rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                border-radius: 2.9375rem;
            }
            .intra-btn {
                background: #304194;
                .intra-btn-logo {
                    width: 1.25rem;
                    height: 1rem;
                    flex-shrink: 0;
                    background-size: contain;
                    background-image: url('../../devicon_24.svg');
                    background-repeat: no-repeat;
                }
                .intra-btn-text {
                    color: #fff;
                    text-align: center;
                    font-family: $font-Inter;
                    // font-size: 0.9375rem;
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                &:hover {
                    background-color: #f20553;
                    //background-color: rgb(43, 137, 250); /* Change to your desired hover color */
                }
            }
            .google-btn {
                background: #fff;

                .google-btn-logo {
                    width: 1.25rem; // note :remove duplicated style
                    height: 1rem;
                    background-image: url('../../devicon_google.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .google-btn-text {
                    color: #3686f7;
                    text-align: center;
                    font-family: Inter;
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    .r {
                        color: #ff302f;
                    }
                    .y {
                        color: #ffba40;
                    }
                    .g {
                        color: #20b15a;
                    }
                }
                &:hover {
                    background-color: #f20553;

                    .google-btn-logo {
                        background-image: url('../../white_google.svg');
                    }
                    .google-btn-text {
                        color: #ffffff;
                        .r {
                            color: #ffffff;
                        }
                        .y {
                            color: #ffffff;
                        }
                        .g {
                            color: #ffffff;
                        }
                    }
                    //background-color: rgb(43, 137, 250); /* Change to your desired hover color */
                }
            }
        }
        .or-separator {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.1875rem;
            .or-separator-line {
                width: 5rem;
                height: 0.0625rem;
                background: rgba(255, 255, 255, 0.7);
                box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
                background-image: url('../../Line.svg');
            }
            .or-separator-text {
                line-height: normal;
                color: #fff;
                text-align: center;
                font-family: Inter;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}
