@import '../../../../constants/variables';

.form-label-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    .form-label {
        color: #fff;
        text-shadow:
            0rem 0rem 0rem #f4ebff,
            0rem 0.0625rem 0.125rem rgba(16, 24, 40, 0.05);
        font-family: $font-Acme;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
    }
    .form-input {
        display: flex;
        padding: 1.125rem 3.5rem 1.125rem 0.625rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 0.75rem;
        border: 0.125rem solid $primary-blue;
        background: #fff;
        color: $primary-blue;
        width: 24.5625rem;
        font-family: $font-Acme;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
        -webkit-text-security: none;
        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }

        &::placeholder {
            opacity: initial;
            color: #5d5e63;
        }
        &[type='password'] {
            font-family: Verdana;
            font-size: 1.951rem;
            padding: 0.651rem 3.5rem 0.651rem 0.625rem;
        }
    }
    .pwd {
        position: relative;

        .eye {
            z-index: 9999;
            position: absolute;
            top: 22%;
            right: 1rem;
            width: 2rem;
            height: 2rem;
            flex-shrink: 0;
            background: url(#{$EyeIcon}) 50% / cover no-repeat;
        }

        .closed {
            z-index: 9999;
            position: absolute;
            top: 22%;
            right: 1rem;
            width: 2rem;
            height: 2rem;
            flex-shrink: 0;
            background: url(#{$EyeClosedIcon}) 50% / cover no-repeat;
        }

        @media (max-width: 530px) {
            .eye {
                top: 27%; // Adjust position, size or any other property as per your requirements
                width: 1.5rem; // Reduced size for smaller screens
                height: 1.5rem; // Reduced size for smaller screens
            }
            .closed {
                top: 27%; // Adjust position, size or any other property as per your requirements
                width: 1.5rem; // Reduced size for smaller screens
                height: 1.5rem; // Reduced size for smaller screens
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .form-label-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3rem;
        .form-label {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
        .form-input {
            padding: 0.75rem 3.5rem 0.75rem 0.625rem;
            gap: 0.625rem;
            width: 11.875rem;
            font-size: 0.875rem;
            line-height: 1.5rem;
            &[type='password'] {
                font-family: Verdana;
                font-size: 1.4rem;
                padding: 0.651rem 3.5rem 0.651rem 0.625rem;
            }
        }
    }
}
