.room-info {
    display: grid;
    align-items: center;
    border: 1px solid #ccc;
    width: 25%;
}

.room-header .room-profile-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #000000
}

.room-details h2 {
    color: #000;
    font-family: Acme;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
.member-count {
    text-align: left;
    font-style: italic;
    margin-left: 10px;
}

.members-list {
    display: grid;
    align-items: center;
    gap: 8px;
    margin: 10px;
}

.member-item{
    display: flex;
    align-items: center;
}
.members-list .member-item .member-profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #000000
}

.members-list .member-item .member-name {
    color: #070707;
    font-family: Acme;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

  .exit-room-button {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: -160px;
    margin-left: 0px;
    color: #ff0000;
    cursor: pointer;
    font-family: Acme;
    font-weight: 400;
    font-size: 22px;
    line-height: 27.85px;
  }
  
  /* .exit-room-button:hover {
    background-color: #ff0000;
  } */
  
  /* Add any additional styling for the icon if needed */
  /* .exit-room-button svg {
    margin-top: 10px;
  } */

