@import '../../constants/variables';

.child {
    position: absolute;
    top: 0;
    left: 0;
}
.animation {
    position: absolute;
    top: -13px;
    left: -13px;
}
.avatar {
    border-radius: 50%;
    position: relative;
    .uploader {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px dashed #ffffff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(#{$ImgPlaceHolder}) 50% / cover no-repeat;
        overflow: hidden;
        background-size: 1.625rem;
        padding: 0.15rem;
        transition: 0s border;
        &:hover {
            border-color: $primary-pink;
            transition-delay: 0.3s;
        }
        .placeholder {
            width: 80%;
            height: 80%;
            object-fit: cover;
            border-radius: 50%;
        }
        .placeholder {
            opacity: 0; /* hides the input while keeping it functional */
        }
    }
    .has-image {
        border: none;
        background: none;
    }
    .reset-avatar {
        position: absolute;
        z-index: 1;
        bottom: -33%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        border: 2px solid rgba(113, 199, 216, 0.8);
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 3.125rem;
        background: #ff0000;
        .trash-icon {
            width: 1.125rem;
            height: 1.125rem;
            flex-shrink: 0;
            background: url($TrashIcon) 50% / cover no-repeat;
        }
    }
}
