.roomcontent {
    display: flex;
    /* padding: 0px 0px; */
    flex-direction: column;
    justify-content: flex-end;
    width: 55%;
    border: .1px solid #E0E0E0;
    /* box-sizing: border-box; */
}

.footer-room {
    display: flex;
    padding: 10px;
    /* justify-content: center; */
    /* align-items: center;   */
    /* gap: 10px; */
    /* align-self: stretch; */
    border-top: 1px solid #E0E0E0;
    background: transparent;
    /* width: clamp(60px, 100%, 800px); */
    width: 100%;
}

.send {
    display: flex;
    align-items: center;
    width: 100%;
}

.send input {
    
    width: 350px;
    /* margin-right: 0px; */
    padding: 10px 10px;
    border-radius: 10px 0px 0px 10px;
    border: #E0E0E0 solid 1px;
    color: var(--Grey-01, #93989A);
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.14px;
  }

.send input:focus-within {
    border-color: #0584FE;
    box-shadow : 0 0 5px #0584FE ,0 0 1px #0584FE;
    color: rgb(16, 16, 27);
    outline: 0;
}

.send .smile {
    color : #4b4545;
    border: 1px #E0E0E0 solid;
    padding: 7px;
    margin-right: 10px;
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
  }

  .send .smile:hover {
    color: #0584FE;
  }

/* #room-message
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
}
      
.my-msg {
    align-self: flex-end;
    background-color: #1a4d0a;
    color: #fff;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 12px 12px 0px 12px;
}

.others-msg {
    align-self: flex-start;
    background-color: #F1F1F1;
    color: #000;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 12px 12px 12px 0px;
}  */

#room-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;

  }
  
  .my-msg {
    display: flex;
    align-self: flex-end;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    /* padding: 8px; */
    max-width: 70%;
  }
  
  .others-msg {
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    /* background-color: #cf1d1d; */
    color: #333;
    border-radius: 8px;
    /* padding: 0px 10px; */
    max-width: 70%;
    display: flex;
  }
  
  .others-msg img,
  .my-msg img {
    width: 32px; 
    height: 32px; 
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .sender-name {
    font-weight: bold;
    margin-bottom: 4px;
    font-family: Acme;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .message-text {
    /* margin: 0;
    background-color: #86888a;
    border-radius: 5px;
    padding: 8px;
    max-width: 80%; */
    align-self: flex-end;
    background-color: #E7E7E7;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    padding: 10px;
    /* max-width: 80%; */
    /* display: flex; */
    font-family: Acme;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

  }

.mymessage-text{
    font-family: Acme;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;

  }
  