@import '../../constants/variables';

.header {
    color: var(--white-100, #fff);
    text-align: center;
    font-family: $font-Acme;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0675rem;
}

.avatar-container {
    display: flex;
    width: 84%;
    align-items: center;
    gap: 2rem;
    color: var(--white-100, #fff);
    .section1 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        .child {
            position: absolute;
            top: 0;
            left: 0;
        }
        .animation {
            position: absolute;
            top: -13px;
            left: -13px;
        }
        .avatar {
            border-radius: 50%;
            position: relative;
            .uploader {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 2px dashed #ffffff;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                background: url(#{$ImgPlaceHolder}) 50% / cover no-repeat;
                overflow: hidden;
                background-size: 1.625rem;
                padding: 0.15rem;
                transition: 0s border;
                &:hover {
                    border-color: $primary-pink;
                    transition-delay: 0.3s;
                }
                .placeholder {
                    width: 80%;
                    height: 80%;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .placeholder {
                    opacity: 0; /* hides the input while keeping it functional */
                }
            }
            .has-image {
                border: none;
                background: none;
            }
            .cancel-avatar {
                position: absolute;
                z-index: 1;
                bottom: -33%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                border: 2px solid rgba(113, 199, 216, 0.8);
                padding: 0.5rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                border-radius: 3.125rem;
                background: #ff0000;
                .trash-icon {
                    width: 1.125rem;
                    height: 1.125rem;
                    flex-shrink: 0;
                    background: url($TrashIcon) 50% / cover no-repeat;
                }
            }
        }

        .text {
            font-family: $font-Acme;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.03375rem;
        }
    }
    .section2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.6rem;
        input[type='file'] {
            display: none;
        }
        .avatar-uploader-btn {
            display: flex;
            padding: 0.9rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            border: 1px solid rgba($primary-blue, 0.4);
            border-radius: 3.4375rem;
            background: var(--white-100, #fff);
            color: var(--Primary-Text-Color, #304194);
            text-align: center;
            font-family: $font-Acme;
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &:hover {
                border-color: $primary-blue;
            }
        }
        .avatar-select {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .text {
                color: var(--white-100, #fff);
                font-family: Acme;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 1.4rem */
                letter-spacing: 0.0125rem;
            }
            .list {
                list-style: none;
                display: flex;
                align-items: flex-start;
                gap: 0.75rem;
                padding: 0;
                .selected {
                    border: 2px solid white;
                }
                .item {
                    width: 2.813rem;
                    height: 2.813rem;
                    flex-shrink: 0;
                    border-radius: 2.813rem;
                    padding: 0.1rem;
                    .default-avatar {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

.confirm-button {
    background-color: $primary-pink !important;
    &:hover {
        background-color: $dark-pink !important;
    }
}

.skip-button {
    display: flex;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6rem 10.264rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: none;
    border-radius: 3.4375rem;
    background: none;
    color: #fff;
    text-align: center;
    font-family: $font-Bomb-Sound;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:hover {
        border: dashed;
    }
    &:active {
        border: solid;
        background: white;
        color: $primary-pink;
    }
}

// .uploader {
//     width: 100px;
//     height: 100px;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border: 2px dashed #ffffff;
//     overflow: hidden;
//     background: url(#{$ImgPlaceHolder}) 50% / cover no-repeat;
//     background-size: 1.625rem;
//     padding: 0.15rem;
//     cursor: pointer;
//     ≈ .placeholder {
//         display: none;
//     }
//     .image {
//         border-radius: 50%;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
// }
// .cancel-avatar {
//     z-index: 999;
//     position: relative;
//     left: 32%;
//     display: flex;
//     width: 1.875rem;
//     height: 1.875rem;
//     padding: 0.375rem;
//     justify-content: center;
//     align-items: center;
//     gap: 0.625rem;
//     border-radius: 3.125rem;
//     background: #ff4747;
//     // background: url(#{$ImgPlaceHolder}) 50% / cover no-repeat;
// }

// Responsive Images:
// You can use the srcSet and sizes attributes in React to create responsive images:

// jsx

// <img srcSet="image-320w.jpg 320w,
//              image-480w.jpg 480w,
//              image-800w.jpg 800w"
//      sizes="(max-width: 320px) 280px,
//             (max-width: 480px) 440px,
//             800px"
//      src="image.jpg"
//      alt="Description" />
